.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "main sideBar";
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 10% 90%;
}

.grid-container .header {
  /* background-color: rgb(189, 178, 178); */
  /* height: 20vh; */
  width: 80%;
  margin-left: 10%;
  justify-items: center;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  margin-bottom: 1%;
  display: grid;
  grid-template-areas: "logo menu1 menu2 menu3 menu4 profile displayPic";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header > #logo {
  grid-area: logo;
  font-weight: 900;
  font-size: 1.5rem;
  height: auto;
  width: auto;
}

.header > #menu1 {
  grid-area: menu1;
  height: auto;
  width: auto;
  padding: 10px;
}

.header > #menu2 {
  grid-area: menu2;
  height: auto;
  width: auto;
  padding: 10px;
}

.header > #menu3 {
  grid-area: menu3;
  height: auto;
  width: auto;
  padding: 10px;
}

.header > #menu4 {
  grid-area: menu4;
  height: auto;
  width: auto;
  padding: 10px;
}

.header > #profile {
  grid-area: profile;
  height: auto;
  width: auto;
  padding: 10px;
}

.header > #displayPic {
  grid-area: displayPic;
}

.header > #displayPic > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

hr {
  background-color: rgb(233, 221, 221);
}
.main {
  grid-area: main;
  margin-left: 10vw;
  position: relative;
  display: grid;
  grid-template-areas:
    "backbtn"
    "dish1"
    "dish2"
    "dish3";
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
}

.main > .back-btn {
  grid-area: backbtn;
  width: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(96, 92, 92);
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  position: absolute;
  top: 5%;
  cursor: pointer;
}
.main > .back-btn > i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.dish1 {
  grid-area: dish1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dish1 > img {
  width: 20%;
  position: absolute;
  border-radius: 5px;
  background-color: aquamarine;
}

.dish1 > .about {
  position: absolute;
  left: 25%;
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(42, 45, 45);
}

.dish1 > .about > h3 {
  color: rgb(144, 152, 159);
}

.dish1 > .price {
  position: absolute;
  left: 50%;
  font-family: "Nanum Gothic", sans-serif;
}

.dish1 > .delete {
  position: absolute;
  left: 75%;
  cursor: pointer;
}

.dish1 > .delete > img {
  height: 10%;
  width: 10%;
}

.dish2 {
  grid-area: dish2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dish2 > img {
  width: 20%;
  position: absolute;
  border-radius: 5px;
  background-color: aquamarine;
}

.dish2 > .about {
  position: absolute;
  left: 25%;
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(42, 45, 45);
}

.dish2 > .about > h3 {
  color: rgb(144, 152, 159);
}

.dish2 > .price {
  position: absolute;
  left: 50%;
  font-family: "Nanum Gothic", sans-serif;
}

.dish2 > .delete {
  position: absolute;
  left: 75%;
  cursor: pointer;
}

.dish2 > .delete > img {
  height: 10%;
  width: 10%;
}

.dish3 {
  grid-area: dish3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dish3 > img {
  width: 20%;
  position: absolute;
  border-radius: 5px;
  background-color: aquamarine;
}

.dish3 > .about {
  position: absolute;
  left: 25%;
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(42, 45, 45);
}

.dish3 > .about > h3 {
  color: rgb(144, 152, 159);
}

.dish3 > .price {
  position: absolute;
  left: 50%;
  font-family: "Nanum Gothic", sans-serif;
}

.dish3 > .delete {
  position: absolute;
  left: 75%;
  cursor: pointer;
}

.dish3 > .delete > img {
  height: 10%;
  width: 10%;
}

.sideBar {
  grid-area: sideBar;
  margin-right: 10vw;
  position: relative;
}

.sideBar > .contactNo {
  font-family: "Nanum Gothic", sans-serif;
  margin-bottom: 10%;
  float: right;
  margin-top: 10%;
}

.sideBar > .contactNo > span {
  font-weight: 800;
}

#bill {
  background-color: #f5f5f7;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "orderLogo"
    "promoCode"
    "orderCost"
    "deliveryContainer"
    "totalCost"
    "checkout";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.4fr 0.7fr 1fr 0.8fr;
}

#bill #logo {
  grid-area: orderLogo;
  display: grid;
  justify-content: center;
}

#logo img {
  height: 50px;
  width: 50px;
  position: relative;
  left: 50px;
  top: 5px;
}

#bill > #textContainer {
  display: flex;
  justify-content: center;
}

#bill > #logo > #textContainer > h3 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
  color: rgb(68, 57, 57);
  /* position: absolute; */
  /* top: 16%; */
}

#separator1 {
  display: block;
  width: 90%;
  left: 5%;
  border-bottom: 1px solid rgb(235, 227, 227);
  position: absolute;
  top: 30%;
}

#bill > #promoContainer {
  grid-area: promoCode;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
  /* top: 35%;
  position: absolute; */
  box-sizing: border-box;
}

#bill > #promoContainer > #promoCode {
  padding: 20px;
}

#bill > #promoContainer > #count {
  padding: 20px;
  color: white;
  background-color: black;
  border: none;
}

#separator2 {
  display: block;
  width: 90%;
  left: 5%;
  border-bottom: 1px solid rgb(235, 227, 227);
  position: absolute;
  top: 50%;
}

#bill > #orderCostContainer {
  grid-area: orderCost;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* position: absolute; */
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  color: rgb(32, 31, 31);
  /* top: 55%; */
}

#bill > #orderCostContainer > #orderPrice > span {
  font-size: 2rem;
  font-weight: 400;
}

#bill > #deliveryContainer {
  grid-area: deliveryContainer;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  /* position: absolute; */
  color: rgb(144, 139, 139);
  /* top: 62%; */
}

#separator3 {
  display: block;
  width: 90%;
  left: 5%;
  border-bottom: 1px solid rgb(235, 227, 227);
  position: absolute;
  top: 70%;
}

#bill > #totalPriceContainer {
  grid-area: totalCost;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  /* position: absolute; */
  color: rgb(32, 31, 31);
  /* top: 75%; */
}

#bill > #totalPriceContainer > #totalPrice > span {
  font-size: 2rem;
  font-weight: 400;
}

#bill > #checkoutButtonContainer {
  grid-area: checkout;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 85%; */
}

#bill > #checkoutButtonContainer > #checkoutBtn {
  background-color: rgb(36, 34, 34);
  padding: 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
  width: 200px;
}
